<template name="posts">

    {{#each posts}}
    <div class="ui centered card instaCard">
        <div class="content">
            <img class="ui avatar image" src="/uploads/avatars/default.png" alt="">
            {{user}}
        </div>
        <div class="image">
            <img src="/uploads/photos/{{photo}}" alt="">
        </div>
        <div class="content">
            <i class="heart outline like icon"></i>
            {{totalLikes likes}} Curtidas
        </div>
    </div>
    {{/each}}


</template>