<template name="menu">
    <div class="ui secondary menu">
        <div class="item">
            <img class="ui small image" src="/img/logo.png" alt="">
        </div>
        <div class="right menu">
            <a href="#" class="item">
                Olá, {{userName}}
            </a>
            <a id="newPost" class="item">
                <i class="large instagram icon"></i>
            </a>
            <a href="/logout" class="item">
                <i class="large sign out alternate icon"></i>
            </a>
        </div>
    </div>
    <input type="file" id="photoId" name="photo" class="uploadPhoto">
</template>